.login {
    display: flex;
    height: 450px;
    align-items: center;
    justify-content: center;

    .wrapper {
        width: 400px;
    }
    .error {
        display: block;
        color: #fff;
        font-size: 15px;
        margin-top: 10px;
        text-align: center;
    }
    .btn-wrap {
        display: flex;
        justify-content: flex-end;
        .back {
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: #fff;
            font-size: 11px;
        }
    }

    .button {
        font-size: 18px;
        text-transform: uppercase;
        border: none;
        background-color: #1D97D9;
        padding: 11px;
        color: #EBEBEB;
        cursor: pointer;
        width: 100%;
        border-radius: 6px;
        &:hover {
            background-color: #146b99;
        }
    }

    .input {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    
        label {
            color: #EBEBEB;
            font-size: 18px;
            text-transform: uppercase;
            margin-bottom: 1px;
            margin-left: 10px;
        }
        input {
            padding: 15px;
            font-size: 18px;
            border: none;
            border-radius: 6px;
            background-color: #10101E;
            outline: none;
            color: #7e7e7e;
            &::placeholder {
                color: #4D4D4D;
            }
        }
    }
    .hidden {
        display: none;
    }
}


