.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
        color: #EBEBEB;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 1px;
        margin-left: 10px;
    }
    input {
        padding: 15px;
        font-size: 18px;
        border: none;
        border-radius: 6px;
        background-color: #10101E;
        outline: none;
        color: #7e7e7e;
        &::placeholder {
            color: #4D4D4D;
        }
    }
}