.navbar {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    .left {
        display: flex;
        align-items: center;
        img {
            width: 100px;
            height: 40px;
        }
        
        .list {
            display: flex;
            list-style: none;
            gap: 10px;
            &__item {
                color: #999;
                font-size: 15px;
                padding: 5px 10px;
                cursor: pointer;
                border-radius: 5px;
                &:hover {
                    color: #fff;
                }
                &_active {
                    color: #fff;
                    background-color: #131320;
                }
            }
        }
    }
    .right {
        display: flex;
        align-items: center;
        .notifications {
            button {
                border: none;
                background-color: transparent;
                color: #fff;
                width: 35px;
                height: 35px;
                cursor: pointer;
            }
        }
        .user {
            position: relative;
            img {
                width: 30px;
                height: 30px;
                object-fit: contains;
                border-radius: 50%;
                cursor: pointer;
            }
            &__menu {
                display: none;
                position: absolute;
                top: 20px;
                right: 0px;
                padding: 15px;
                width: 130px;
                background-color: #131320;
                color: #fff;
                list-style: none;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;            }
            }
    }
}