.button {
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    background-color: #1D97D9;
    padding: 11px;
    color: #EBEBEB;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    &:hover {
        background-color: #146b99;
    }
}